#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
:root {
  --text-blue: rgba(26, 42, 108, 1);
  --text-dark-blue: rgba(11, 30, 68, 1);
  --light-white: rgba(250, 250, 250, 1);
}

/* ================ font colors ============== */
.text-blue {
  color: var(--text-blue);
}
.text-light-white {
  color: var(--light-white);
}
.text-dark-blue {
  color: var(--text-dark-blue);
}
/* ============================================= */

/* ================ font size ================ */
.font-size-16 {
  font-size: 16px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-46 {
  font-size: 46px;
}
/* ============================================ */

/* ===================== Navbar Or Header Css ============================ */

/* .header-center-img {
  width: 297px;
  height: 140px;
} */
.text-underline-offset-6 {
  text-underline-offset: 6px;
}
/* ======================================================================= */

/* ======================== Hero Section ================================== */
.hero-section {
  height: 100vh;
  background-image: url(./Assets/Images/HeroBanner/file\ background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* =========================================================================== */

/* ============== planet animation ==================*/

.solar-sys{
  bottom: 7%;
}
.navitag{
  /* width: 200px; */
}
.navitag-left{
  position: absolute;
  left: -1%;
  width: 5%;
  height: 10%;
  bottom: 30px;
}
.navitag-right{
  position: absolute;
  right: -1%;
  width: 5%;
  height: 10%;
  bottom: 30px;
}

.image-container {
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  transition: transform 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  transition: opacity 0.1s ease-in-out;
  /* width: 100%; */
  height: 100%;
}

/* =========================================================================== */
.bg-planet-ring{
  top: 53%;
  /* left: 50%; */
  /* right: 00%; */
  /* transform: translate(-100%, -40%); */
}