.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

// ============= MAIN ANIMATION CSS =========================
.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease-in-out;
  z-index: 1;
  overflow: hidden;
  &:nth-child(4){
    // opacity: 1;
    // z-index: 9;
  }
}

.section.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

// Allow internal scroll for Offer section
.section:nth-of-type(8).active {
  overflow-y: auto;
}

.main-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.main-animation.active {
  // opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

// Allow internal scroll for Offer main-animation
.main-animation:nth-of-type(8).active {
  overflow-y: auto;
}
// ============= MAIN ANIMATION CSS END =====================

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  // overflow: hidden; // hides scroll and disables default scrolling
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
:root {
  --text-blue: rgba(26, 42, 108, 1);
  --text-dark-blue: rgba(11, 30, 68, 1);
  --light-white: rgba(250, 250, 250, 1);
  --light-blue: rgba(64, 123, 255, 1);
  --border-light: rgba(255, 255, 255, 0.4);
  --light-white-bg: rgba(255, 255, 255, 0.15);
  --text-blue-2: rgba(73, 52, 149, 1);
  --dark-pink: rgba(224, 77, 176, 1);
  --push-notification: rgba(157, 146, 210, 1);
  --light-yellow: rgba(255, 217, 57, 1);
  --text-light-black: rgba(51, 51, 51, 1);
  --light-white: rgba(239, 243, 247, 0.7);
  --light-white-2: rgba(239, 243, 247, 1);
  --light-cream: rgba(255, 242, 178, 1);
  --slider-arrow-color: rgba(75, 50, 173, 1);
  --light-pink: rgba(255, 153, 153, 1);
  --light-yellow: rgba(255, 240, 96, 1);
  --register-inp: rgba(92, 75, 161, 0.1);
  --text-light-gray: rgba(161, 161, 161, 1);
}

/* ================ font colors ============== */
.text-blue {
  color: var(--text-blue);
}
.text-light-white {
  color: var(--light-white);
}
.text-dark-blue {
  color: var(--text-dark-blue);
}
.text-blue-2 {
  color: var(--text-blue-2);
}
.text-light-yellow {
  color: var(--light-yellow);
}
.text-light-black {
  color: var(--text-light-black);
}
.text-light-yellow {
  color: var(--light-yellow);
}
.text-light-gray {
  color: var(--text-light-gray);
}
/* ============================================= */

/* ================ background colors ================ */

.background-text-blue {
  background-color: var(--text-blue) !important;
}
.background-light-blue {
  background-color: var(--light-blue);
}
.background-dark-pink {
  background-color: var(--dark-pink);
}
.background-push-notification {
  background-color: var(--push-notification) !important;
}
.background-light-white {
  background-color: var(--light-white);
}
.background-light-white-2 {
  background-color: var(--light-white-2);
}
.background-light-cream {
  background-color: var(--light-cream);
}
.background-light-pink {
  background-color: var(--light-pink);
}
.background-light-white {
  background-color: var(--light-white-bg);
}
.background-register-input {
  background-color: var(--register-inp);
}

/* ============================================= */

/* ================ font size ================ */
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px !important;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-46 {
  font-size: 46px;
}
/* ============================================ */

.cursor-pointer{
  cursor: pointer;
}
// =============== BORDER ================================================
.border-blue {
  border: 1px solid var(--text-blue);
}
// =======================================================================

// =============== LETTER SPACING ================================================

.ls-4 {
  letter-spacing: 4px;
}

// =======================================================================

/* ===================== Navbar Or Header Css ============================ */

.text-underline-offset-6 {
  text-underline-offset: 6px;
}

.header-center-img {
  filter: drop-shadow(0px 4px 4px #fff);
}

/* Navbar effect Css */

.nav-indicator {
  bottom: 65px;
  height: 3px;
  transition: all 0.3s ease;
  z-index: 0;
}

.active-blur-shadow {
  height: 100%;
  width: 200px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  background-image: url('./assets/HeroBanner/bg-blur.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ======================================================================= */

/* ======================== Hero Section ================================== */
.hero-section {
  height: 100dvh;
  background-image: url(../src/assets/HeroBanner/filebackground.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#banner-sec-heading-desk {
  display: block;
}
#banner-sec-heading-mob {
  display: none;
}

/* =========================================================================== */

/* ============== planet animation ==================*/

.solar-sys {
  bottom: 7%;
}

.navitag-left {
  position: absolute;
  left: -5%;
  width: 10%;
  bottom: 12%;
}
.navitag-right {
  position: absolute;
  right: -5%;
  width: 10%;
  bottom: 12%;
}

.navi-plnt-left {
  position: absolute;
  bottom: 20%;
  left: 7%;
}
.navi-plnt-right {
  position: absolute;
  bottom: 20%;
  right: 7%;
}

.image-container {
  width: 23%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  transition: transform 1s ease-in-out;
}
.image-container img {
  transition: opacity 0.1s ease-in-out;
  /* width: 100%; */
  height: 100%;
}

.planet-shadow-purple {
  filter: drop-shadow(-7px 7px 38px #55024ccc);
}
.planet-shadow-yellow {
  filter: drop-shadow(-7px 7px 38px #fc941acc);
}
.planet-shadow-green {
  filter: drop-shadow(-7px 7px 38px #66968b);
}
.planet-shadow-blue {
  filter: drop-shadow(-7px 7px 38px #4babdf);
}

/* =========================================================================== */
.bg-planet-ring {
  top: 50%;
}

.heigth-85vh {
  height: 85vh;
}

/* ==================== SECOND SCREEN SECTIONS CSS ==================================== */
.second-screen-section {
  height: 100dvh;
  background-image: url(../src/assets/HeroBanner/secondscreenbg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.till-ship {
  background: rgba(64, 123, 255, 0.3);
}
.till-ship-img {
  left: -14.7%;
  bottom: 0%;
}

.till-ship {
  background-color: rgba(64, 123, 255, 0.3);
}

.progress-sect-rocket {
  top: -82%;
  left: 2%;
}
.progress-sect-astronot {
  bottom: 0%;
  width: 20%;
  left: 2%;
}

.tilte-shadow {
  box-shadow: 0px 4px 16px 0px rgba(184, 179, 203, 1);
}

.progress-sect-name {
  line-height: 1.2;
}
.till-ship-border-color {
  border-right: 0.5px solid var(--border-light) !important;
}
.progress-sect {
  background: linear-gradient(
    180deg,
    rgba(255, 228, 147, 0.2) 47.11%,
    rgba(255, 200, 39, 0.4) 105.98%
  );
}
.progress-side-sec {
  width: 20%;
}
.progress-side-hr {
  border: 2px solid rgba(255, 240, 96, 1);
  height: 35px;
  margin: 0 auto;
}
.progress-side-hr11 {
  border: 2px dashed rgba(255, 240, 96, 1);
  height: 30px;
  margin: 0 auto;
}
.progress-side-hr-2 {
  border: 2px dashed rgba(255, 240, 96, 1);
  height: 20px;
  margin: 0 auto;
}
.progress-foot-alen {
  left: -4%;
  bottom: 0%;
}
.push-notification-close {
  background-color: rgba(157, 146, 210, 0.15) !important;
}

.second-screen-pathway {
  width: 79% !important;
  transform: translate(12.5%, 0%);
}
.second-scrn-bottom {
  margin-top: 8px !important;
}
.second-scrn-padding {
  padding: auto !important;
}

// TOOLTIP CSS

.tooltiptext {
  visibility: auto;
  background-color: rgba(85, 68, 158, 0.3);
  color: rgba(255, 240, 96, 1);
  text-align: center;
  border: 1px solid rgba(255, 240, 96, 1);
  bottom: -25%;
  left: 20%;
}

.tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent rgba(255, 240, 96, 1) transparent transparent;
}

/* ==================== SECOND SCREEN SECTIONS CSS END ==================================== */
/* ==================== REDEEM AND EARN SECTIONS CSS ==================================== */
.redeem-circle {
  width: 300px;
  height: 300px;
  background-image: url(../src/assets/redeemEarn/blueBaseStar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  overflow: hidden;
}

.redeem-shadow {
  filter: drop-shadow(-10px 0px 10px #493495);
}

.redem-box {
  top: 10%;
  right: 31%;
}
.gift-circle-sec {
  margin-right: 0;
  transition: margin-right 1s ease; /* 1 second transition */
}
.gift-circle-sec:hover {
  margin-right: 7rem;
}
.playearn-circle-sec {
  margin-left: 0;
  transition: margin-left 1s ease; /* 1 second transition */
}
.playearn-circle-sec:hover {
  margin-left: 7rem;
}

.launch-rocket {
  bottom: 18%;
}
.redeem-circle-sect {
  right: -22%;
  bottom: 60%;
}
.earnmore-circle-sect {
  left: -22%;
  bottom: -60%;
}
.coins-box {
  top: 10%;
  right: 23%;
}
.earn-shadow {
  filter: drop-shadow(10px 0px 10px #493495);
}
.howitwork-side-modal {
  bottom: 15%;
}
.howitwork-side-modal .side-text {
  writing-mode: sideways-lr;
}

/* ==================== REDEEM AND EARN SECTIONS CSS END ==================================== */
/* ==================== PLAY AND EARN SECTIONS CSS ==================================== */
.pay-earn-section {
  background-image: url(../src/assets/playEarn/PlayAndearn.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.pay-earn-content {
  height: 100vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(10, 28, 69, 0.8) 100%
  );
}
.play-earn-img {
  left: 50%;
  transform: translate(-50%, -0%);
  top: 2%;
}
.play-img-eft {
  width: 0%;
}
.play-img-eft-act {
  transition: width 0.5s ease;
  width: 20%;
}
.pay-earn-content .row {
  background-color: rgba(255, 255, 255, 0.5);
}
.hover-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.hover-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* ==================== PLAY AND EARN SECTIONS CSS END ==================================== */
/* ==================== OFFER SECTIONS CSS ==================================== */



/* Background fixed full-page */
.offer-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200dvh; /* Full viewport height */
  background-image: url('../src/assets/offer/offerbg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: flex; /* Optional: if you want to control layout */
  flex-direction: column; /* Optional: if needed */
}

/* Scrollable content inside offer-section */
.offer-sect-content {
  position: relative;
  z-index: 2;
  height: 310dvh; /* Fill the parent height */
  overflow-y: auto; /* Enable vertical scrolling */
}


.offer-bg-img-1 {
  background-image: url(../src/assets/offer/card3bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer-bg-img-2,
.offer-bg-img-4 {
  background-image: url(../src/assets/offer/card2bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer-bg-img-3 {
  background-image: url(../src/assets/offer/card1bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.offer-cards {
  border-radius: 24px;
  height: 307px;
}
.offer-slider .slick-slide {
  padding: 0px 24px 0px 0px !important;
  box-sizing: border-box;
}
.offer-slider .slick-arrow {
  display: none !important;
}
.offer-exc-card {
  width: 410px !important;
}
.offer-exc-rocket {
  left: 14%;
  bottom: 45%;
}
.price-trolley {
  border-radius: 70px 20px 20px 20px;
  background-image: url(../src/assets/offer/exclperk1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 491px;
}
.price-watch {
  border-radius: 20px;
  background-image: url(../src/assets/offer/exclperk2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 233px;
}
.price-headphone {
  border-radius: 20px 20px 70px 20px;
  background-image: url(../src/assets/offer/exclperk3.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 233px;
}
.purple-border-bottom {
  border-bottom: 1px solid var(--push-notification);
}

.offer-footer-section {
  background-image: url(../src/assets/offer/Footer.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75dvh;
  z-index: 9;
  overflow: hidden;
}
.footer-semi-planet {
  background-image: url(../src/assets/offer/semiplanet.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 94%;
  bottom: 0%;
  z-index: 1;
  left: 25%;
}

.price-exclusive {
  // grid-auto-columns: 1rf 1rf 1rf;
  grid-template-columns: auto auto auto;
}

.truncate-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncate-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ==================== OFFER SECTIONS CSS END ==================================== */

//===================== FOOTER CSS AND ANIMATION CSS -=============================

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-fade-up {
  opacity: 0; /* start hidden */
  animation: fadeUp 1s forwards; /* duration of 1s, keep end state */
}

.footer-delay-700 {
  animation-delay: 0.7s;
}
//===================== FOOTER CSS AND ANIMATION CSS END -=============================

/* ==================== MYREWARD SECTIONS CSS ==================================== */
.myreward-card-1 {
  background-image: url(../src/assets/MyRewards/starsbg.png);
  background-position: center;
  background-size: cover;
}
.myreward-card-2 {
  background-image: url(../src/assets/MyRewards/withoutstarsbg.png);
  background-position: center;
  background-size: cover;
}
.myreward-star {
  top: -32%;
  right: -10%;
}
.myreward-pocket {
  top: -7%;
  right: 3%;
}
.myreward-shotingmeteor {
  right: 8%;
  bottom: 24%;
}

.my-reward-cards {
  grid-template-columns: auto auto;
}
.reward-slider .slick-slide {
  display: flex !important;
  justify-content: center;
  // width: auto !important;
}
.reward-slider .reward-slides {
  width: 200px !important;
}

@keyframes pulseWidth {
  0%,
  100% {
    width: 9%;
  }
  50% {
    width: 7%;
  }
}

.reward-moving-rkt {
  bottom: 4%;
  left: 2%;
  width: 9%;
  animation: pulseWidth 7s ease-in-out 2s infinite; /* 2s duration, 0.5s delay, infinite loop */
}

.reward-slider .slick-prev {
  left: 0.4%;
  z-index: 2;
  border: 1px solid var(--slider-arrow-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.reward-slider .slick-prev:hover {
  left: 0.4%;
  z-index: 2;
  border: 1px solid var(--slider-arrow-color);
  background-color: var(--slider-arrow-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.reward-slider .slick-prev:before {
  content: url(../src/assets/MyRewards/rwdsldlftarw.svg);
  position: relative;
  top: -1px;
}
.reward-slider .slick-prev:hover:before {
  content: url(../src/assets/MyRewards/rwdsldlfthvrarw.svg);
  position: relative;
  top: -1px;
}

.reward-slider .slick-next {
  right: 0%;
  z-index: 2;
  border: 1px solid var(--slider-arrow-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.reward-slider .slick-next:hover {
  right: 0%;
  z-index: 2;
  border: 1px solid var(--slider-arrow-color);
  background-color: var(--slider-arrow-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.reward-slider .slick-next:before {
  content: url(../src/assets/MyRewards/rwdsldrgtarw.svg);
  position: relative;
  top: -1px;
}
.reward-slider .slick-next:hover:before {
  content: url(../src/assets/MyRewards/rwdsldrgthvrarw.svg);
  position: relative;
  top: -1px;
}

.reward-discount {
  background-image: url(../src/assets/MyRewards/discountbg.png);
}
.discount-border {
  border-radius: 0px 8px 0px 8px;
}

// ==================================

.excl-discount-card {
  width: 360px !important;
}
.exclusive-discount-sect .slick-slide {
  // width: auto !important;
  display: flex !important;
  justify-content: start;
}

.exclusive-discount-sect .slick-list {
  padding-left: 0px !important;
}
.myreward-third-section {
  // height: 100dvh;
  background-image: url(../src/assets/MyRewards/reward3bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.referred-banner {
  background-image: url(../src/assets/MyRewards/referralsbg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

// play and earn card css

// body {
//   display: flex;
//   justify-content: center;
// }

.playearn-card {
  display: flex;
  min-width: 500px;
  height: 346px;
  width: 100%;
}

.playearn-content {
  min-width: 50px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-position: center;
  margin: 10px;
  transition: all 0.7s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat;
  cursor: grab;
}

.play-earn-card-1 {
  min-width: 50px;
}
.play-earn-card-2 {
  min-width: 70px;
}
.play-earn-card-3 {
  min-width: 90px;
}
.play-earn-card-4 {
  min-width: 110px;
}
// background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);

.redeem-claim {
  background: linear-gradient(180deg, #0b1e44 0%, #1a2a6c 50%, #1b4965 100%);
}

/* ==================== MYREWARD SECTIONS CSS END ==================================== */

/* ==================== REGISTRATION SECTIONS CSS ==================================== */
.registration-section {
  height: 100dvh;
  background-image: url(../src/assets/Registrartion/Registrationbg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.register-form {
  background-image: url(../src/assets/Registrartion/formbottom1.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
/* ==================== REGISTRATION SECTIONS CSS END ==================================== */

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-down-shrink {
  animation: fadeDownShrink 0.8s forwards;
}

@keyframes fadeDownShrink {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100px) scale(0.5);
    opacity: 0.7;
  }
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

/* =================== MEDIA QUERY ===============================*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #banner-sec-heading-desk {
    display: none !important;
  }
  #banner-sec-heading-mob {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1535px) {
  .image-container {
    width: 20%;
  }
  .bg-planet-ring {
    top: 50%;
    width: 70%;
  }
  .second-scrn-bottom {
    margin-top: 0px !important;
  }
  .second-scrn-padding {
    padding: 0 !important;
  }
  .second-screen-xl {
    margin-top: 0.5rem !important;
  }
  .till-ship-img {
    left: -16.7% !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1023px) {
  .bg-planet-ring {
    top: 42%;
    width: 85%;
  }
  .image-container {
    width: 45%;
    bottom: 17.5%;
  }
  .navitag-left {
    position: absolute;
    left: -2%;
    width: 20%;
    bottom: 45%;
  }
  .navitag-right {
    position: absolute;
    right: -2%;
    width: 20%;
    bottom: 45%;
  }
  .navi-plnt-right {
    position: absolute;
    bottom: 50%;
    right: 20%;
  }
  .navi-plnt-left {
    position: absolute;
    bottom: 50%;
    left: 20%;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  .second-screen-xl {
    margin-top: 4rem !important;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .planet-section {
    padding-top: 4%;
  }
  .footer-responsive {
    margin-top: 4%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .reward-slider .reward-slides {
    width: 170px !important;
  }
  .excl-discount-card {
    width: 298px !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .reward-slider .reward-slides {
    width: 150px !important;
  }
}
@media only screen and (min-width: 1300px) {
  .planet-section {
    padding-top: 2%;
  }
}

/* =================== MEDIA QUERY END ========================== */

// -===================================

//  testing css

.height-100vh {
  height: 100vh;
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
    display: none !important;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-slide-up {
  animation: slideUp 1s forwards;
  display: block;
}
.nav-slide-down {
  display: block;
  animation: slideDown 1s forwards;
}
// ---------- middle sect with second screen css
.middle-sect {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible-second-sect {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden-second-sect {
  opacity: 0;
  transition: opacity 0.5s ease;
}
// ------------------------------------aa

.plnt-animt {
  // display: block;
  animation: plntDown 1s forwards;
}

/* Animation for appearing */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation for disappearing */
@keyframes slideDownFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}

.plnt-animt-up {
  animation: slideUpFadeIn 0.5s forwards;
}

.plnt-animt-down {
  animation: slideDownFadeOut 0.5s forwards;
}

.plnt-animt-ring-up {
  animation: slideUpFadeIn 0.5s forwards;
}

.plnt-animt-ring-down {
  animation: slideDownFadeOut 0.5s forwards;
}

// =====================================
// Plant move top bottom animation

.big-plnt-btm {
  animation: movePlntToBottomCenter 1s forwards;
}
.big-plnt-top {
  animation: movePlntToTopLeft 1s forwards;
}
@keyframes movePlntToTopLeft {
  0% {
    right: 0;
    bottom: 5%;
    width: 23%;
    left: 0;
  }
  100% {
    width: 7.1%;
    right: 28%;
    bottom: 67.7%;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes movePlntToBottomCenter {
  0% {
    width: 8%;
    right: 27.6%;
    bottom: 66%;
    left: 0;
    visibility: hidden;
  }
  100% {
    right: 0;
    bottom: 5%;
    width: 23%;
    left: 0;
  }
}
// .big-plnt-btm {
//   animation: movePlntToBottomCenter 1s ease-in-out forwards;
// }
// .big-plnt-top {
//   animation: movePlntToTopLeft 1s ease-in-out forwards;
// }
// @keyframes movePlntToTopLeft {
//   0% {
//     right: 0;
//     bottom: 5%;
//     width: 23%;
//     left: 0;
//     opacity: 1; /* Start fully visible */
//   }
//   90% {
//     /* Optional: add a slight easing towards the end */
//     right: 28%;
//     bottom: 67.7%;
//     width: 7.1%;
//     opacity: 1;
//   }
//   100% {
//     /* Keep the element hidden after the animation if needed */
//     right: 28%;
//     bottom: 67.7%;
//     width: 7.1%;
//     opacity: 0; /* Fade out smoothly instead of flickering */
//   }
// }

// @keyframes movePlntToBottomCenter {
//   0% {
//     right: 27.6%;
//     bottom: 66%;
//     width: 8%;
//     opacity: 0;
//   }
//   90% {
//     right: 0;
//     bottom: 5%;
//     width: 23%;
//     opacity: 1;
//   }
//   100% {
//     right: 0;
//     bottom: 5%;
//     width: 23%;
//     opacity: 1;
//   }
// }

// --------------/-
// navbar move animation

@keyframes moveUpFade {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes moveDownFade {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// -------------------------------------------------------------------------
//  Invite Friend Css

/* Background image with transition */
.invite-bg-image {
  background-image: url(../src/assets/HeroBanner/filebackground.png)!important;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

/* Fade down for middle section */
.form-fade-down {
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 1s ease;
}

/* Slide down for footer section */
.astro-slide-down {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.asto-transition-all {
  transition: all 1s ease;
}
.nav-slide-top {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 5s ease,
    transform 5s ease;
  visibility: hidden;
}
.asto-transition-all {
  transition: all 1s ease;
}
.scrHghRed {
  animation: scrHghRed 4s forwards;
}
.scrHghInc {
  animation: scrHghInc 4s forwards;
}
@keyframes scrHghRed {
  from {
    height: 100vh;
  }
  to {
    height: 100vh;
  }
}
@keyframes scrHghInc {
  from {
    height: 100vh;
  }
  to {
    height: 100vh;
  }
}

.zoom-in-up {
  animation: zoomInUp 8s ease both;
}
 
@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

